.login-box {
    background-color: #083D77;
    border-radius: 20%;
    height: 50vh;
    width: 50vh;
    text-align: left;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-container{
    display: flex;
    justify-content: space-between;
    padding-left: 2vh;
    padding-right: 2vh;
}

.login-label{
    font-family: "Harabara",sans-serif;
    font-size: 2vh;
    color:#F4D35E;
}

.login-input{
    width: 75%;
}

.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}


.login-title{
    font-family: "Bauhaus\ 93\ Regular", sans-serif;
    font-size: 8vh;
    color: #EE9648;
    padding-left: 5vh;
    /* padding-top: 5vh; */
}

.login-button{
    display: flex;
    justify-content: flex-end;
    padding-right:2vh;
}

.submit-button{
    width: 20vh;
    height: 4vh;
    color: #083D77;
    font-family: "Harabara", sans-serif;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-content: center; 
    background-color: #FF72B1;
    box-shadow:none;
    filter:none;
    border: none;
    outline: none;
    
}
.switch-login-register{
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Bauhaus\ 93\ Regular';
    src: url('Fonts/Bauhaus\ 93\ Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Harabara';
    src: url('Fonts/Harabara.ttf') format('truetype');
}